.irs-line-mid,
.irs-line-left,
.irs-line-right,
.irs-bar,
.irs-bar-edge,
.irs-slider {
    background: url(../img/rangeSlider/sprite-skin-flat.png) repeat-x;
}

.irs {
    height: 32px;
}
.irs-with-grid {
    height: 60px;
}
.irs-line {
	top: 0;
    width:100%; height:6px; background:#f4f4f4;
}
    .irs-line-left {
        height: 12px;
        background-position: 0 -30px;
    }
    .irs-line-mid {
        height: 12px;
        background-position: 0 0;
    }
    .irs-line-right {
        height: 12px;
        background-position: 100% -30px;
    }

.irs-bar {
    height:6px; background:#5c5754; top: 0;
}
    .irs-bar-edge {
        top: 0;
        height: 12px; width: 9px;
        background-position: 0 -90px;
    }

.irs-shadow {
    height: 3px; top: 34px;
    background: #000;
    opacity: 0.25;
}
.lt-ie9 .irs-shadow {
    filter: alpha(opacity=25);
}

.irs-slider {
    top: -3px;
	width:12px; height:12px; border:1px solid #b1b1b1; border-radius:50%; background:#fff;
}

.irs-slider.state_hover, .irs-slider:hover {
    background-position: 0 -150px;
}

.irs-min, .irs-max {
    top: 20px;
    color: #888;
    font-size: 14px;
	font-weight: 300;
	line-height: 1;
	letter-spacing:-0.05em;
    text-shadow: none;
}

.irs-from, .irs-to, .irs-single {
	top: 20px;
    color: #333;
    font-size: 14px;
	font-weight: 500;
	line-height: 1;
	letter-spacing:-0.05em;
    text-shadow: none;
}


.irs-grid-pol {
    background: #e1e4e9;
}
.irs-grid-text {
    color: #999;
}
