.my_info_new {
    padding: 33px 58px;
}
.my_info_new:after {
    display: block;
    clear: both;
    content: "";
}
.my_info_new .info {
    width: 500px;
    float: left;
    position: relative;
}
.my_info_new .info:before {
    position: absolute;
    right: 0;
    top: 0;
    width: 2px;
    height: 100px;
    content: "";
    background: #e9e9e9;
}
.my_info_new .info:after {
    display: block;
    clear: both;
    content: "";
}
.my_info_new .info .info-grade {
    float: left;
    position: relative;
    top: 40px;
}
.my_info_new .info .info-text {
    width: calc(100% - 100px);
    float: left;
    margin-left: 39px;
}
.my_info_new .info .info-text .date {
    font-size: 18px;
    color: #585858;
}
.my_info_new .info .info-text .text {
    margin-bottom: 5px;
}
.my_info_new .info .info-text .text p {
    font-size: 20px;
    color: #585858;
}
.my_info_new .info .info-text .text p b {
    color: #ff8e77;
    font-size: 22px;
    font-weight: 500;
}
.my_info_new .info .info-text .small {
    color: #151515;
    font-size: 12px;
}
.my_info_new .info .info-text .small a {
    color: #ff8e77;
    font-size: 12px;
    display: inline-block;
    border-bottom: 1px solid #ff8e77;
    margin-left: 10px;
}
.my_info_new .state {
    width: calc(100% - 536px);
    float: left;
    padding-left: 36px;
    margin-top: 17px;
}
.my_info_new .state ul:after {
    display: block;
    clear: both;
    content: "";
}
.my_info_new .state ul li {
    width: 20%;
    float: left;
}
.my_info_new .state ul li .state-tit {
    font-size: 16px;
    color: #333333;
    margin-bottom: 15px;
}
.my_info_new .state ul li .state-num {
    font-size: 16px;
    color: #333333;
}
.my_info_new .state ul li .state-num b {
    font-size: 16px;
    font-weight: 500;
}
.my_info_new .state ul li .state-link {
    margin-top: 15px;
}
.my_info_new .state ul li .state-link a {
    background: #ff8e77;
    color: #fff;
    display: inline-block;
    width: 83px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    font-size: 12px;
    border-radius: 5px;
    font-weight: bold;
}

#mypage h1.benefit-tit {
    text-align: center;
    color: #5c5c5c;
    font-size: 20px;
    font-weight: 400;
    text-indent: -863px;
    margin-bottom: 40px;
}
#mypage .benefit-box {
    margin-bottom: 70px;
}
#mypage .benefit-box h2 {
    color: #444444;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 22px;
}
#mypage .benefit-box .member-grade {
    background: #eee;
    border-radius: 15px;
    border: 3px solid #eee;
}
#mypage .benefit-box .member-grade:after {
    display: block;
    clear: both;
    content: "";
}
#mypage .benefit-box .member-grade .pull-left {
    width: 412px;
    float: left;
    position: relative;
    top: 20px;
}
#mypage .benefit-box .member-grade .pull-left:after {
    display: block;
    clear: both;
    content: "";
}
#mypage .benefit-box .member-grade .pull-left .image {
    width: 117px;
    float: left;
    text-align: right;
    position: relative;
    top: 20px;
}
#mypage .benefit-box .member-grade .pull-left .image > img {
    width: 75px;
}
#mypage .benefit-box .member-grade .pull-left .image > div {
    width: 75px;
    color: #ff8e77;
    font-weight: 600;
    font-size: 15px;
    float: right;
    text-align: center;
    margin-top: 13px;
}
#mypage .benefit-box .member-grade .pull-left .content {
    width: calc(100% - 117px);
    float: left;
    padding-left: 50px;
    position: relative;
    top: 5px;
}
#mypage .benefit-box .member-grade .pull-left .content > div {
    font-size: 16px;
    color: #202020;
    font-weight: bold;
    margin-bottom: 8px;
}
#mypage .benefit-box .member-grade .pull-left .content > div b {
    font-size: 16px;
    color: #ff8e77;
    font-weight: 600;
}
#mypage .benefit-box .member-grade .pull-left .content > ul li:after {
    display: block;
    clear: both;
    content: "";
}
#mypage .benefit-box .member-grade .pull-left .content > ul li > div {
    font-size: 13px;
    color: #626262;
    font-weight: 600;
}
#mypage .benefit-box .member-grade .pull-left .content > ul li > div p {
    font-size: 13px;
    color: #626262;
    font-weight: 500;
}
#mypage .benefit-box .member-grade .pull-left .content > ul li > div p span {
    font-size: 12px;
    color: #626262;
    font-weight: 600;
    display: inline-block;
    margin-left: 3px;
}
#mypage .benefit-box .member-grade .pull-left .content > ul li > div:first-of-type {
    width: 63px;
    float: left;
}
#mypage .benefit-box .member-grade .pull-left .content > ul li > div:last-of-type {
    width: calc(100% - 63px);
    float: left;
}
#mypage .benefit-box .member-grade .pull-right {
    width: calc(100% - 412px);
    height: 178px;
    float: left;
    background: #fff;
    border-radius: 15px;
    position: relative;
}
#mypage .benefit-box .member-grade .pull-right .top-text {
    text-align: center;
    font-size: 14px;
    color: #444;
    font-weight: 600;
    margin: 35px 0 20px;
}
#mypage .benefit-box .member-grade .pull-right .top-text span {
    color: #9365ed;
    font-size: 14px;
    font-weight: 600;
}
#mypage .benefit-box .member-grade .pull-right .graph {
    position: relative;
    margin: 0 auto;
    border: 2px solid #9365ed;
    border-radius: 15px;
    max-width: 516px;
    margin-bottom: 15px;
}
#mypage .benefit-box .member-grade .pull-right .graph .bg {
    display: block;
    background: #9365ed;
    height: 22px;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
    width: 0;
}
#mypage .benefit-box .member-grade .pull-right .graph .bg:after {
    width: 41px;
    height: 34px;
    content: "";
    display: inline-block;
    position: absolute;
    right: -15px;
    top: 40%;
    transform: translateY(-50%);
}
#mypage .benefit-box .member-grade .pull-right .bottom-text {
    margin: 0 auto;
    max-width: 516px;
    padding-left: 25px;
}
#mypage .benefit-box .member-grade .pull-right .bottom-text ul li {
    font-size: 12px;
    color: #999999;
}
#mypage .benefit-box .member-grade .pull-right .date {
    position: absolute;
    right: 20px;
    bottom: 5px;
    color: #a1a1a1;
    font-size: 12px;
}

#mypage .benefit-box .member-grade .pull-right.member .top-text span {
    color: #75cb77;
}
#mypage .benefit-box .member-grade .pull-right.bronze .top-text span {
    color: #ca9283;
}
#mypage .benefit-box .member-grade .pull-right.silver .top-text span {
    color: #cbcbcb;
}
#mypage .benefit-box .member-grade .pull-right.gold .top-text span {
    color: #f2be61;
}
#mypage .benefit-box .member-grade .pull-right.platinum .top-text span {
    color: #e48894;
}
#mypage .benefit-box .member-grade .pull-right.diamond .top-text span {
    color: #c1e8ec;
}
#mypage .benefit-box .member-grade .pull-right.vip .top-text span {
    color: #82a3ed;
}
#mypage .benefit-box .member-grade .pull-right.vvip .top-text span {
    color: #a486fc;
}
#mypage .benefit-box .member-grade .pull-right.administrator .top-text span {
    color: #cb50ff;
}

#mypage .benefit-box .member-grade .pull-right.member .graph {
    border-color: #75cb77;
}
#mypage .benefit-box .member-grade .pull-right.bronze .graph {
    border-color: #ca9283;
}
#mypage .benefit-box .member-grade .pull-right.silver .graph {
    border-color: #cbcbcb;
}
#mypage .benefit-box .member-grade .pull-right.gold .graph {
    border-color: #f2be61;
}
#mypage .benefit-box .member-grade .pull-right.platinum .graph {
    border-color: #e48894;
}
#mypage .benefit-box .member-grade .pull-right.diamond .graph {
    border-color: #c1e8ec;
}
#mypage .benefit-box .member-grade .pull-right.vip .graph {
    border-color: #82a3ed;
}
#mypage .benefit-box .member-grade .pull-right.vvip .graph {
    border-color: #a486fc;
}
#mypage .benefit-box .member-grade .pull-right.administrator .graph {
    border-color: #cb50ff !important;
}

#mypage .benefit-box .member-grade .pull-right.member .graph .bg {
    background: #75cb77;
}
#mypage .benefit-box .member-grade .pull-right.bronze .graph .bg {
    background: #ca9283;
}
#mypage .benefit-box .member-grade .pull-right.silver .graph .bg {
    background: #cbcbcb;
}
#mypage .benefit-box .member-grade .pull-right.gold .graph .bg {
    background: #f2be61;
}
#mypage .benefit-box .member-grade .pull-right.platinum .graph .bg {
    background: #e48894;
}
#mypage .benefit-box .member-grade .pull-right.diamond .graph .bg {
    background: #c1e8ec;
}
#mypage .benefit-box .member-grade .pull-right.vip .graph .bg {
    background: #82a3ed;
}
#mypage .benefit-box .member-grade .pull-right.vvip .graph .bg {
    background: #a486fc;
}
#mypage .benefit-box .member-grade .pull-right.administrator .graph .bg {
    background: #cb50ff !important;
}

#mypage .benefit-box .member-grade .pull-right.member .graph .bg:after {
    background: url("//atimg.sonyunara.com/attrangs/2020/mypage/icon_member.png") left top no-repeat / 41px 34px;
}
#mypage .benefit-box .member-grade .pull-right.bronze .graph .bg:after {
    background: url("//atimg.sonyunara.com/attrangs/2020/mypage/icon_bronze.png") no-repeat;
    background-size: 100% 100%;
}
#mypage .benefit-box .member-grade .pull-right.silver .graph .bg:after {
    background: url("//atimg.sonyunara.com/attrangs/2020/mypage/icon_silver.png") no-repeat;
    background-size: 100% 100%;
}
#mypage .benefit-box .member-grade .pull-right.gold .graph .bg:after {
    background: url("//atimg.sonyunara.com/attrangs/2020/mypage/icon_gold.png") no-repeat;
    background-size: 100% 100%;
}
#mypage .benefit-box .member-grade .pull-right.platinum .graph .bg:after {
    background: url("//atimg.sonyunara.com/attrangs/2020/mypage/icon_platinum.png") no-repeat;
    background-size: 100% 100%;
}
#mypage .benefit-box .member-grade .pull-right.diamond .graph .bg:after {
    background: url("//atimg.sonyunara.com/attrangs/2020/mypage/icon_diamond.png") no-repeat;
    background-size: 100% 100%;
}
#mypage .benefit-box .member-grade .pull-right.vip .graph .bg:after {
    background: url("//atimg.sonyunara.com/attrangs/2020/mypage/icon_vip.png") no-repeat;
    background-size: 100% 100%;
}
#mypage .benefit-box .member-grade .pull-right.vvip .graph .bg:after {
    background: url("//atimg.sonyunara.com/attrangs/2020/mypage/icon_vvip.png") no-repeat;
    background-size: 100% 100%;
}
#mypage .benefit-box .member-grade .pull-right.administrator .graph .bg:after {
    background: url("//atimg.sonyunara.com/attrangs/2020/mypage/icon_administrator.png") no-repeat;
    background-size: 100% 100%;
}

#mypage .benefit-box .tab {
    margin-bottom: 12px;
}
#mypage .benefit-box .tab ul {
    display: table;
    table-layout: fixed;
    width: 100%;
}
#mypage .benefit-box .tab ul li {
    display: table-cell;
    text-align: center;
    border: 1px solid #919191;
    border-bottom: 1px solid #9365ed;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
}
#mypage .benefit-box .tab ul li:first-of-type {
    right: -1px;
}
#mypage .benefit-box .tab ul li:last-of-type {
    left: 0;
}
#mypage .benefit-box .tab ul li.on {
    z-index: 2;
    border: 1px solid #9365ed;
    border-bottom-color: #fff;
}
#mypage .benefit-box .tab ul li a {
    color: #908e8e;
    font-size: 16px;
    display: block;
    height: 53px;
    line-height: 53px;
    font-weight: 400;
}
#mypage .benefit-box .tab ul li.on a {
    color: #313030;
}
#mypage .benefit-box .tab-content {
    margin-bottom: 35px;
}
#mypage .benefit-box .tab-content > ul > li {
    display: none;
}
#mypage .benefit-box .tab-content > ul > li.on {
    display: block;
}
#mypage .benefit-box .tab-content > ul > li .coupon .useForm {
    background: #eeee;
    text-align: center;
    padding: 16px 0;
    margin-bottom: 25px;
}
#mypage .benefit-box .tab-content > ul > li .coupon .useForm:after {
    display: block;
    clear: both;
    content: "";
}
#mypage .benefit-box .tab-content > ul > li .coupon .useForm span {
    display: inline-block;
    vertical-align: top;
    width: 68px;
    height: 26px;
    line-height: 30px;
    font-size: 15px;
    color: #5c5c5c;
}
#mypage .benefit-box .tab-content > ul > li .coupon .useForm input[type=text] {
    width: 250px;
    height: 30px;
    border: 1px solid #919191;
    padding: 0 10px;
    border-radius: 7px;
}
#mypage .benefit-box .tab-content > ul > li .coupon .useForm button {
    width: 81px;
    height: 30px;
    vertical-align: top;
    line-height: 23px;
    border: 0;
    box-shadow: none;
    background: #919191;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    margin-left: 2px;
    border-radius: 7px;
}
#mypage .benefit-box .tab-content > ul > li .coupon-list ul {
    margin-bottom: -9px;
}
#mypage .benefit-box .tab-content > ul > li .coupon-list ul:after {
    display: block;
    clear: both;
    content: "";
}
#mypage .benefit-box .tab-content > ul > li .coupon-list ul li {
    width: 154px;
    float: left;
    margin: 0 4.5px 9px;
    border: 1px solid #a2a2a2;
    border-radius: 10px;
    height: 123px;
}
#mypage .benefit-box .tab-content > ul > li .coupon-list ul li img {
    width: 100%;
}
#mypage .benefit-box .tab-content > ul > li .coupon-list ul li .coupon-top {
    height: 82px;
    text-align: center;
    position: relative;
}
#mypage .benefit-box .tab-content > ul > li .coupon-list ul li .coupon-top img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
#mypage .benefit-box .tab-content > ul > li .coupon-list ul li .coupon-top span {
    position: absolute;
    left: 0;
    bottom: 2.5px;
    width: 100%;
    text-align: center;
    color: #ff8e77;
    font-weight: 600;
}
#mypage .benefit-box .tab-content > ul > li .coupon-list ul li .coupon-top:after {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 80%;
    height: 1px;
    background: #a2a2a2;
    content: "";
}
#mypage .benefit-box .tab-content > ul > li .coupon-list ul li .coupon-bottom {
    height: 41px;
    line-height: 41px;
    text-align: center;
    font-size: 13px;
    color: #4b4b4b;
}
#mypage .benefit-box .tab-content > ul > li .coupon .right-text {
    text-align: right;
    margin-bottom: 15px;
    font-size: 13px;
    font-weight: 600;
    color: #353535;
    padding-right: 46px;
}
#mypage .benefit-box .tab-content > ul > li .coupon .right-text a {
    color: #9365ed;
    font-size: 13px;
    font-weight: 600;
}
#mypage .benefit-box .tab-content > ul > li .coupon table {
    border-top: 1px solid #444444;
    width: 100%;
}
#mypage .benefit-box .tab-content > ul > li .coupon table tr th {
    font-size: 13px;
    color: #242424 !important;
    font-weight: 600;
}
#mypage .benefit-box .tab-content > ul > li .coupon table tr td,
#mypage .benefit-box .tab-content > ul > li .coupon table tr th {
    text-align: center;
    height: 56px;
    vertical-align: middle;
    border-bottom: 1px solid #bcbcbc;
    font-size: 13px;
    color: #898989;
}
#mypage .benefit-box .tab-content > ul > li .coupon table tr:last-of-type td {
    border-bottom-color: #313030;
}
#mypage .benefit-box .tab-content > ul > li .coupon table tr td.black {
    color: #242424;
    font-weight: 600;
}
#mypage .benefit-box .tab-content > ul > li .coupon table tr td small {
    display: block;
    color: #898989;
    font-size: 11px;
}
#mypage .benefit-box .tab-content > ul > li .coupon table tr td a {
    color: #9365ed;
    font-weight: 600;
    font-size: 12px;
}
#mypage .benefit-box .tab-content > ul > li .coupon .usedForm {
    background: #eeee;
    text-align: center;
    padding: 16px 0;
    margin-bottom: 25px;
}
#mypage .benefit-box .tab-content > ul > li .coupon .usedForm a {
    display: inline-block;
    margin-right: 3px;
    height: 26px;
    line-height: 26px;
    width: 103px;
    text-align: center;
    vertical-align: top;
    border-radius: 5px;
    font-size: 12px;
    color: #353535;
    border: 1px solid #353535;
    background: #fff;
}
#mypage .benefit-box .tab-content > ul > li .coupon .usedForm input[type=text] {
    height: 26px;
    border: 1px solid #5c5c5c;
    border-radius: 5px;
    width: 123px;
    background-image: url("//atimg.sonyunara.com/attrangs/2020/mypage/calendar.png");
    background-repeat: no-repeat;
    background-position: 95% center;
    cursor: pointer;
    font-size: 14px;
    color: #353535;
}
#mypage .benefit-box .tab-content > ul > li .coupon .usedForm span {
    display: inline-block;
    height: 26px;
    line-height: 26px;
    text-align: center;
    width: 30px;
    font-size: 20px;
}
#mypage .benefit-box .tab-content > ul > li .coupon .usedForm button {
    background: #919191;
    height: 26px;
    line-height: 26px;
    text-align: center;
    width: 81px;
    color: #fff;
    border-radius: 5px;
    border: 0;
    vertical-align: top;
    margin-left: 5px;
}
#mypage .benefit-box .left-text {
    position: relative;
}
#mypage .benefit-box .left-text ul li {
    color: #9b9b9b;
    font-size: 13px;
}
#mypage .benefit-box .left-text.black ul li {
    color: #151515;
    margin-bottom: 3px;
}
#mypage .benefit-box .left-text > a {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 13px;
    color: #9b9b9b;
}
#mypage .benefit-box .grade-table {
    background: #f5f5f5;
    padding: 12px 18px;
    margin-top: 5px;
}
#mypage .benefit-box .grade-table ul:after {
    display: block;
    clear: both;
    content: "";
}
#mypage .benefit-box .grade-table ul li {
    width: 12.5%;
    float: left;
    cursor: pointer;
}
#mypage .benefit-box .grade-table ul li .bg {
    border-radius: 7px;
    height: 782px;
}
#mypage .benefit-box .grade-table ul li.on .bg {
    background: #fff;
}
#mypage .benefit-box .grade-table ul li .bg .top {
    height: 150px;
    text-align: center;
    position: relative;
    top: 22px;
}
#mypage .benefit-box .grade-table ul li .bg .top .name {
    font-size: 13px;
    color: #919191;
    font-weight: 600;
    margin-top: 18px;
}
#mypage .benefit-box .grade-table ul li .bg .top span {
    font-size: 13px;
    color: #919191;
}
#mypage .benefit-box .grade-table ul li .bg .puzzle {
    height: 87px;
    padding: 0 14px;
}
#mypage .benefit-box .grade-table ul li .bg .puzzle > div {
    position: relative;
    width: 100%;
    height: 59px;
    text-align: center;
    background: url("//atimg.sonyunara.com/attrangs/2020/mypage/mem_basic_bg.png") left top no-repeat;
}
#mypage .benefit-box .grade-table ul li .bg .puzzle > div.none {
    background: none !important;
    line-height: 59px;
}
#mypage .benefit-box .grade-table ul li .bg .puzzle > div > span {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #151515;
    display: block;
}
#mypage .benefit-box .grade-table ul li .bg .puzzle > span {
    letter-spacing: -1px;
    display: block;
    font-size: 10px;
    color: #2a2a2a;
    text-align: center;
    margin-top: 2px;
}

#mypage .benefit-box .grade-table ul li.on .bg .puzzle > div > span {
    color: #fff;
}
#mypage .benefit-box .grade-table ul li.member.on .bg .puzzle > div {
    background: url("//atimg.sonyunara.com/attrangs/2020/mypage/mem_member_bg.png") left top no-repeat;
}
#mypage .benefit-box .grade-table ul li.bronze.on .bg .puzzle > div {
    background: url("//atimg.sonyunara.com/attrangs/2020/mypage/mem_bro_bg.png") left top no-repeat;
}
#mypage .benefit-box .grade-table ul li.silver.on .bg .puzzle > div {
    background: url("//atimg.sonyunara.com/attrangs/2020/mypage/mem_sil_bg.png") left top no-repeat;
}
#mypage .benefit-box .grade-table ul li.gold.on .bg .puzzle > div {
    background: url("//atimg.sonyunara.com/attrangs/2020/mypage/mem_gold3_bg.png") left top no-repeat;
}
#mypage .benefit-box .grade-table ul li.platinum.on .bg .puzzle > div {
    background: url("//atimg.sonyunara.com/attrangs/2020/mypage/mem_pla_bg.png") left top no-repeat;
}
#mypage .benefit-box .grade-table ul li.diamond.on .bg .puzzle > div {
    background: url("//atimg.sonyunara.com/attrangs/2020/mypage/mem_dia_bg.png") left top no-repeat;
}
#mypage .benefit-box .grade-table ul li.vip.on .bg .puzzle > div {
    background: url("//atimg.sonyunara.com/attrangs/2020/mypage/mem_vip_bg.png") left top no-repeat;
}
#mypage .benefit-box .grade-table ul li.vvip.on .bg .puzzle > div {
    background: url("//atimg.sonyunara.com/attrangs/2020/mypage/mem_vvip_bg.png") left top no-repeat;
}

#mypage .point-box {
    margin-bottom: 10px;
    background: #fafafa;
    height: 297px;
}
#mypage .point-box h2 {
    position: relative;
    top: 37px;
    padding-left: 22px;
    font-size: 20px;
    color: #5c5c5c;
    font-weight: 500;
    margin-bottom: 100px;
}
#mypage .point-box ul:after {
    display: block;
    clear: both;
    content: "";
}
#mypage .point-box ul {
    width: 971px;
    margin: 0 auto;
}
#mypage .point-box ul li {
    position: relative;
    overflow: hidden;
    width: calc(50% - 20px);
    height: 117px;
    background: #fff;
    float: left;
    margin: 0 10px 15px;
    border: 1px solid #cfcfcf;
    border-radius: 20px;
    border-bottom-right-radius: 0;
    padding: 0 14px;
    box-sizing: border-box;
}
#mypage .point-box ul.coming li {
    border: 0;
}
#mypage .point-box ul.coming li:after {
    background: url("//atimg.sonyunara.com/attrangs/2020/mypage/comingsoon.png") left top no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-size: 100% 100%;
}
#mypage .point-box ul li:before {
    display: block;
    clear: both;
    content: "";
}
#mypage .point-box ul li .image {
    width: 83px;
    float: left;
    margin-top: 18px;
}
#mypage .point-box ul li .content {
    width: calc(100% - 83px);
    float: left;
    padding-left: 14px;
    position: relative;
    top: 30px;
}
#mypage .point-box ul li .content span {
    font-size: 14px;
    color: #a2a2a2;
    display: block;
    margin-bottom: 10px;
}
#mypage .point-box ul li .content p {
    color: #5c5c5c;
    font-size: 15px;
}
#mypage .point-box ul li .content p b {
    color: #9265ee;
    font-size: 16px;
    font-weight: 600;
}
#mypage .point-text {
    margin-top: 20px;
    padding-left: 50px;
}
#mypage .point-text ul li {
    margin-bottom: 4px;
    font-size: 14px;
    color: #a2a2a2;
}

#mypage .detail-box {
    margin-bottom: 60px;
}
#mypage .detail-box h2 {
    font-size: 20px;
    color: #424242;
    font-weight: 400;
    margin-bottom: 25px;
}
#mypage .detail-box .list {
    border-top: 1px solid #161616;
    margin-bottom: 29px;
}
#mypage .detail-box .list li .list-head {
    border-bottom: 1px solid #acacac;
}
#mypage .detail-box .list li .list-head:after {
    display: block;
    clear: both;
    content: "";
}
#mypage .detail-box .list li .list-head > div {
    float: left;
    height: 57px;
    line-height: 57px;
    font-size: 15px;
    color: #5c5c5c;
}
#mypage .detail-box .list li .list-head > div:first-of-type {
    padding-left: 18px;
}
#mypage .detail-box .list li .list-body {
    padding: 29px 0;
}
#mypage .detail-box .list li .list-body form:after {
    display: block;
    clear: both;
    content: "";
}
#mypage .detail-box .list li .list-body form > div {
    position: relative;
    float: left;
    color: #424242;
    font-size: 20px;
    font-weight: 500;
    height: 42px;
    line-height: 42px;
}
#mypage .detail-box .list li .list-body form > div:first-of-type {
    padding-left: 18px;
}
#mypage .detail-box .list li .list-body form > div span {
    font-size: 20px;
    color: #424242;
    font-weight: 500;
}
#mypage .detail-box .list li .list-body form > div input[type=text] {
    background: #fff;
    height: 42px;
    padding: 0 10px;
    border: 1px solid #424242;
    border-radius: 6px;
}
#mypage .detail-box .list li .list-body form > div input[type=text]::placeholder {
    color: #9e9e9e;
}
#mypage .detail-box .list li .list-body form > div button {
    background: #808080;
    color: #fff;
    border-radius: 6px;
    border: 0;
    width: 124px;
    text-align: center;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    cursor: pointer;
}
#mypage .detail-box .list li .list-body form > div.hyphen:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20%;
    transform: translateY(-50%);
    width: 9px;
    height: 2px;
    background: url("//atimg.sonyunara.com/attrangs/2020/mypage/hyphen.png") no-repeat left top;
    background-size: cover;
}
#mypage .detail-box .list li .list-body form > div.equal:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -22.5%;
    transform: translateY(-50%);
    width: 10px;
    height: 6px;
    background: url("//atimg.sonyunara.com/attrangs/2020/mypage/equal.png") no-repeat left top;
    background-size: cover;
}
#mypage .detail-box .list li .list-body form > div.arrow:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: url("//atimg.sonyunara.com/attrangs/2020/mypage/arrow.png") no-repeat left top;
    background-size: cover;
}
#mypage .detail-box .text ul li {
    font-size: 15px;
    color: #adadad;
    line-height: 1.5;
}
#mypage .detail-box .search {
    background: #fafafa;
    padding: 30px 50px;
    text-align: center;
}
#mypage .detail-box .search:after {
    display: block;
    clear: both;
    content: "";
}
#mypage .detail-box .search > div:after {
    display: block;
    clear: both;
    content: "";
}
#mypage .detail-box .search > div:first-of-type {
    width: 476px;
    float: left;
}
#mypage .detail-box .search > div:first-of-type a {
    display: block;
    width: 128px;
    float: left;
    margin-right: 18px;
    height: 46px;
    line-height: 46px;
    border: 1px solid #939393;
    border-radius: 5px;
    background: #fff;
    color: #919191;
    font-size: 14px;
}
#mypage .detail-box .search > div:last-of-type input[type=text] {
    padding-left: 15px;
    widtH: 163px;
    float: left;
    height: 46px;
    border-radius: 5px;
    border: 1px solid #939393;
    font-size: 14px;
    background-image: url("//atimg.sonyunara.com/attrangs/2020/mypage/calendar.png");
    background-repeat: no-repeat;
    background-position: 95% center;
}
#mypage .detail-box .search > div:last-of-type span {
    display: block;
    float: left;
    width: 35px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    font-size: 20px;
}
#mypage .detail-box .search > div:last-of-type button {
    width: 100px;
    height: 46px;
    line-height: 46px;
    margin-left: 10px;
    text-align: center;
    background: #7f7f7f;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: none;
    border: 0;
    cursor: pointer;
    float: left;
}
#mypage .detail-box .filter {
    margin-bottom: 20px;
}
#mypage .detail-box .filter:after {
    display: block;
    clear: both;
    content: "";
}
#mypage .detail-box .filter .pull-left {
    display: inline-block;
    float: left;
}
#mypage .detail-box .filter .pull-left a {
    font-size: 17px;
    color: #bfbfbf;
    display: inline-block;
    margin-right: 22px;
    border: 1px solid #bfbfbf;
    padding: 5px 13px;
    border-radius: 20px;
}
#mypage .detail-box .filter .pull-left a.on {
    color: #424242;
    border-color: #424242;
}
#mypage .detail-box .filter .pull-right {
    display: inline-block;
    float: right;
}
#mypage .detail-box .filter .pull-right select {
    padding-right: 20px;
    font-size: 13px;
    color: #424242;
    border: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("//atimg.sonyunara.com/attrangs/2020/mypage/more.png") no-repeat 95% 50%;
}
#mypage .detail-box .filter .pull-right select::-ms-expand {
    display: none;
}
#mypage .detail-box .table table {
    width: 100%;
}
#mypage .detail-box .table table tr th {
    border-top: 1px solid #b9b9b9;
    border-bottom: 1px solid #b9b9b9;
    padding: 20px 0;
    text-align: center;
    font-size: 13px;
    color: #424242;
    font-weight: 500;
}
#mypage .detail-box .table table tr th span {
    font-size: 12px;
    display: inline-block;
    margin: 0 3px;
    position: relative;
    top: 0;
}
#mypage .detail-box .table table tr td {
    padding: 20px 0;
    text-align: center;
    border-bottom: 1px solid #e4e4e4;
    font-size: 13px;
    color: #7f7f7f;
    font-weight: 300;
}

.login-membership .content > ul:after {
    display: block;
    clear: both;
    content: "";
}
.login-membership .content > ul {
    max-width: 1290px;
    margin: 0 auto;
}
.login-membership .content > ul > li {
    width: 20%;
    height: 302px;
    background: #fff;
    float: left;
    text-align: center;
    position: relative;
}
.login-membership .content > ul > li > a {
    display: block;
    height: 100%;
    cursor: auto;
}
.login-membership .content > ul > li:last-of-type {
    margin-right: 0;
}
.login-membership .content > ul > li.active:hover {
    border-color: #ff8e77;
}
.login-membership .content > ul > li a > div p {
    color: #919191;
    font-size: 14px;
    margin-bottom: 5px;
}
.login-membership .content > ul > li a > div p:last-of-type {
    margin-bottom: 0;
}
.login-membership .content > ul > li a > div p b {
    color: #4b4b4b;
    font-size: 17px;
    font-weight: 500;
}
.login-membership .content > ul > li.active:hover p {
    color: #4a4a4a;
}
.login-membership .content > ul > li.active:hover p b {
    font-weight: 600;
}
.login-membership .content > ul > li a:before {
    display: block;
    width: 99px;
    height: 132px;
    content: "";
    margin: 0 auto 24px;
}
.login-membership .content > ul > li:first-of-type {
    background: url("https://atimg.sonyunara.com/attrangs/2020/membership/pc/icon_day.png") center 40px no-repeat;
    background-size: 74px 73px;
}
.login-membership .content > ul > li:nth-of-type(2) {
    background: url("https://atimg.sonyunara.com/attrangs/2020/membership/pc/icon_attend.png") center 43px no-repeat;
    background-size: 74px 69px;
}
.login-membership .content > ul > li:nth-of-type(3) {
    background: url("https://atimg.sonyunara.com/attrangs/2020/membership/pc/icon_free2.png") center 40px no-repeat;
    background-size: 85px 82px;
}
.login-membership .content > ul > li:nth-of-type(4) {
    background: url("https://atimg.sonyunara.com/attrangs/2020/membership/pc/icon_moon_acitve.png") center 28px no-repeat;
    background-size: 85px 82px;
}
.login-membership .content > ul > li:nth-of-type(5) {
    background: url("https://atimg.sonyunara.com/attrangs/2020/membership/pc/icon_new.png") center 30px no-repeat;
    background-size: 89px 87px;
}
.login-membership .content > ul > li:nth-of-type(6) {
    background: url("https://atimg.sonyunara.com/attrangs/2020/membership/pc/icon_-birthday_acitve.png") center 30px no-repeat;
    background-size: 86px 85px;
}
.login-membership .content > ul > li:nth-of-type(7) {
    background: url("https://atimg.sonyunara.com/attrangs/2020/membership/pc/icon_excellent_acitve.png") center 40px no-repeat;
    background-size: 94px 89px;
}
.login-membership .content > ul > li:nth-of-type(8) {
    background: url("https://atimg.sonyunara.com/attrangs/2020/membership/pc/icon_size_acitve.png") center 37px no-repeat;
    background-size: 80px 80px;
}
.login-membership .content > ul > li:nth-of-type(9) {
    background: url("https://atimg.sonyunara.com/attrangs/2020/membership/pc/icon_cp.png") center 33px no-repeat;
    background-size: 78px 78px;
}
.login-membership .content > ul > li:nth-of-type(10) {
    background: url("https://atimg.sonyunara.com/attrangs/2020/membership/pc/icon_milage.png") center 30px no-repeat;
    background-size: 81px 91px;
}
.login-membership .content > ul > li:nth-of-type(11) {
    background: url("https://atimg.sonyunara.com/attrangs/2020/membership/pc/icon_revmilage.png") center 25px no-repeat;
    background-size: 91px 90px;
}
.login-membership .content > ul > li:nth-of-type(12) {
    background: url("https://atimg.sonyunara.com/attrangs/2020/membership/pc/icon_queen.png") center 40px no-repeat;
    background-size: 96px 88px;
}
.login-membership .content > ul > li:nth-of-type(13) {
    background: url("https://atimg.sonyunara.com/attrangs/2020/membership/pc/icon_addinfo.png") center 35px no-repeat;
    background-size: 84px 83px;
}
.login-membership .content > ul > li:nth-of-type(14) {
    background: url("https://atimg.sonyunara.com/attrangs/2020/membership/pc/icon_bookmark.png") center 40px no-repeat;
    background-size: 74px 73px;
}
.login-membership .content > ul > li:nth-of-type(15) {
    background: url("https://atimg.sonyunara.com/attrangs/2020/membership/pc/icon_attpoint.png") center 40px no-repeat;
    background-size: 74px 73px;
}

.login-membership .content > ul > li.active a {
    cursor: pointer !important;
}
.login-membership .content > ul > li.active:first-of-type:hover {
    background: url("https://atimg.sonyunara.com/attrangs/2020/membership/pc/icon_day_on.png") center 40px no-repeat;
    background-size: 74px 73px;
}
.login-membership .content > ul > li.active:hover:nth-of-type(2) {
    background: url("https://atimg.sonyunara.com/attrangs/2020/membership/pc/icon_attend_on.png") center 43px no-repeat;
    background-size: 74px 69px;
}
.login-membership .content > ul > li.active:hover:nth-of-type(3) {
    background: url("https://atimg.sonyunara.com/attrangs/2020/membership/pc/icon_free_on.png") center 40px no-repeat;
    background-size: 85px 82px;
}
.login-membership .content > ul > li.active:hover:nth-of-type(4) {
    background: url("https://atimg.sonyunara.com/attrangs/2020/membership/pc/icon_moon_on.png") center 28px no-repeat;
    background-size: 85px 82px;
}
.login-membership .content > ul > li.active:hover:nth-of-type(5) {
    background: url("https://atimg.sonyunara.com/attrangs/2020/membership/pc/icon_new_on.png") center 30px no-repeat;
    background-size: 89px 87px;
}
.login-membership .content > ul > li.active:hover:nth-of-type(6) {
    background: url("https://atimg.sonyunara.com/attrangs/2020/membership/pc/icon_birthday_on.png") center 30px no-repeat;
    background-size: 86px 85px;
}
.login-membership .content > ul > li.active:hover:nth-of-type(7) {
    background: url("https://atimg.sonyunara.com/attrangs/2020/membership/pc/icon_excellent_on.png") center 40px no-repeat;
    background-size: 94px 89px;
}
.login-membership .content > ul > li.active:hover:nth-of-type(8) {
    background: url("https://atimg.sonyunara.com/attrangs/2020/membership/pc/icon_size_on.png") center 37px no-repeat;
    background-size: 80px 80px;
}
.login-membership .content > ul > li.active:hover:nth-of-type(9) {
    background: url("https://atimg.sonyunara.com/attrangs/2020/membership/pc/icon_cp_on.png") center 33px no-repeat;
    background-size: 78px 78px;
}
.login-membership .content > ul > li.active:hover:nth-of-type(10) {
    background: url("https://atimg.sonyunara.com/attrangs/2020/membership/pc/icon_milage_on.png") center 30px no-repeat;
    background-size: 81px 91px;
}
.login-membership .content > ul > li.active:hover:nth-of-type(11) {
    background: url("https://atimg.sonyunara.com/attrangs/2020/membership/pc/icon_revmilage_on.png") center 25px no-repeat;
    background-size: 91px 90px;
}
.login-membership .content > ul > li.active:hover:nth-of-type(12) {
    background: url("https://atimg.sonyunara.com/attrangs/2020/membership/pc/icon_queen_on.png") center 40px no-repeat;
    background-size: 96px 88px;
}
.login-membership .content > ul > li.active:hover:nth-of-type(13) {
    background: url("https://atimg.sonyunara.com/attrangs/2020/membership/pc/icon_addinfo_on.png") center 35px no-repeat;
    background-size: 84px 83px;
}
.login-membership .content > ul > li.active:hover:nth-of-type(14) {
    background: url("https://atimg.sonyunara.com/attrangs/2020/membership/pc/icon_bookmark_on.png") center 40px no-repeat;
    background-size: 74px 73px;
}