#wrapper {
    min-width: 1400px;
}
.wrap_inner {
    width: 1416px;
}
.wrap_inner {
    width: 1416px;
}

/* .slide .slick-slide{margin:0 5px;} */
.prd_basic.col5 {
    width: 1426px;
    margin: 0 -5px;
    display: block;
}
.prd_basic.col5 li.goods-form-list {
    margin: 0 5px;
    width: calc(20% - 10px);
    padding-bottom: 30px;
}
.prd_basic.col5 li.goods-form-list:nth-child(-n+5) {
    padding-bottom: 60px;
}
.prd_basic.col5.slick-slider li.goods-form-list {
    padding-bottom: 15px;
}
/* .prd_basic.col5{width:1420px;margin:0 -10px; } */
.prd_basic .box {
    width: auto;
}
.prd_basic .box .img {
    width: auto;
}
.prd_basic.col5 .box .img:hover .prdimg {
    transform: none;
}
.prd_basic.col5 .box .img .prdimg {
    overflow: hidden;
}
.prd_basic.col5 .box .img .prdimg.toggleimg a img {
    width: calc(100% + 2px);
    margin-left: -1px;
    max-width: calc(100% + 2px);
}
.prd_basic.col5 .box .img .prdimg a img {
    width: 100%;
    height: 327px;
    object-fit: cover;
    border-radius: 10px;
}
.prd_basic.col5 .list-icon-box {
    position: absolute;
    bottom: 8px;
    left: 8px;
}
.prd_basic.col5 .box .img .prdimg .list-icon-box img {
    height: 25px;
    width: auto;
    margin: 0 0 9px 6px;
}
.prd_basic.col5.slide .button {
    font-size: 0;
}
.prd_basic.slide .slick-prev {
    font-size: 0;
    border: 0;
    background: url("https://atimg.sonyunara.com/2021/renewal/main/main_icon_pc.png?a=1");
    background-position: -405px -109px;
    width: 24px;
    height: 45px;
    top: 34%;
    left: -86px;
}
.prd_basic.slide .slick-next {
    font-size: 0;
    border: 0;
    background: url("https://atimg.sonyunara.com/2021/renewal/main/main_icon_pc.png?a=1");
    background-position: -464px -108px;
    width: 24px;
    height: 45px;
    top: 34%;
    right: -86px;
}
.prd_basic.col5 .box .info .anpo {
    overflow: hidden;
}
.prd_basic.col5 .box .info .aname {
    float: left;
    color: #969696;
}
.prd_basic.col5 .box .info .point {
    float: right;
    color: #969696;
}
.prd_basic.col5 .box .info .wishcart {
    position: absolute;
    bottom: 3px;
    right: 5px;
}
.prd_basic.col5 .box .info .wishcart .wish {
    background-position: -45px -177px;
    width: 23px;
    height: 20px;
    vertical-align: middle;
    margin-right: 8px;
}
.prd_basic.col5 .box .info .wishcart .wish.on {
    background-position: -85px -177px;
    animation-name: scale2;
    animation-duration: 1s;
}
.prd_basic.col5 .box .info .wishcart .cart {
    background-position: -123px -174px;
    width: 23px;
    height: 24px;
}
.prd_basic .box .price .percent {
    float: none !important;
    margin-left: 5px;
    font-size: 17px;
    font-weight: 500;
}
.prd_basic .box .count span {
    color: #969696;
}
.prd_basic .box .count span:after {
    content: "";
    background-color: #e8e8e8;
    height: 10px;
    width: 2px;
    display: inline-block;
    top: 5px;
}
.prd_basic .box .img .list-hover.renewal .hover-box li.qview {
    width: auto;
    height: auto;
    border-radius: 0;
    background-position: -113px -229px;
    width: 120px;
    height: 34px;
}
.prd_basic .box .price {
    margin-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.opt_layer {
    z-index: 10000;
}
.opt_layer > input {
    background-color: black;
    border: none;
    width: 100%;
    text-align: center;
    color: white;
    margin-top: 23px;
    font-size: 13px;
    padding: 10px 0;
    cursor: pointer;
    background-color: #BCD9B8 !important;
    height: 49px;
    font-weight: 600;
}
.opt_layer .todaygo {
    text-align: left;
    margin-bottom: 14px;
}
.opt_layer .todaygo.thico .mainicon {
    background-position: -456px -173px;
    width: 31px;
    height: 21px;
    margin-right: 7px;
    margin-top: -1px;
}
.opt_layer .todaygo.on.thico .mainicon {
    background-position: -456px -196px;
    width: 31px;
    height: 21px;
}
.codiSet {
    border-radius: 3px;
    overflow: hidden;
    background-color: #B290ec;
    padding: 7px 16px;
    margin: 7px 0 0;
}
.codiSet::before {
    content: "";
    background: url("https://atimg.sonyunara.com/2021/renewal/main/main_icon_pc.png?a=1") no-repeat;
    margin-right: 9px;
    display: inline-block;
    width: 12px;
    height: 15px;
    background-position: -202px -179px;
}
.codiSet .codi_account,
.codiSet .codi_saccount,
.codi_title {
    color: #fff;
}
.codi_title {
    float: right;
    font-size: 15px;
}
.prd_basic .box .price {
    position: relative;
}
.prd_basic .box .price .nodels {
    position: absolute;
    right: 0;
    top: 13px;
    transform: translateY(-50%);
}
.maintitle {
    padding: 70px 0 32px;
}
.maintitle a {
    font-size: 22px;
}
/*�댄븯��*/
.prd_basic .box .img .prdimg {
    /*border: 1px solid #e9e9e9;*/
    border-radius: 10px;
    background-color: #fff;
}
.prd_basic .box .img .op1name {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 600;
}
.prd_basic .box .count {
    height: 41px;
    padding-top: 12px;
    border-top: 1px solid #F7F7F7;
}
.prd_basic .box .info {
    padding-top: 6px;
    margin: 0 1px;
}
.prd_basic .box .name {
    padding-top: 3px;
    height: 44px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.prd_basic .box .price .sell {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.5px;
}

.opt_layer {
    padding: 18px 14px;
    border-radius: 10px;
    top: inherit;
    bottom: 0;
    background-color: #f0f0f0;
    /*display:block !important*/
}
.goods-form-list .opt_layer select {
    height: 45px;
    color: #464646;
    margin-bottom: 6px;
    background-image: none;
    height: 45px;
    color: #464646;
    text-align: center;
    border: 0;
    background: url("https://atimg.sonyunara.com/attrangs/assets/web03/asset/img/shop/select-arrow.png") no-repeat 220px;
    background-color: #fff;
    background-size: 15px 7.9px;
}
.opt_layer .box_qty a {
    margin: -1px auto;
    width: 42px;
    height: 45px;
}
.opt_layer .box_qty .form_input {
    width: calc(85% - 56px) !important;
    margin: -1px auto;
    border-radius: 4px;
}
.opt_layer .box_qty .form_input {
    height: 45px;
    padding: 0 24px;
    border: 0;
    color: #333;
    font-size: 13px;
    line-height: 28px;
    text-align: center;
}
.colorCodebox {
    margin: 0;
}
.colorCode {
    width: 17px;
    height: 9px;
    border-radius: 3px;
}
.colorchip {
    margin: 5px 0 7px;
    height: 9px;
}
.prd_basic .box .img .list-hover.renewal {
    background-color: rgba(255,255,255,0.4);
}
#main .slick-dots {
    bottom: -65px;
}
.btn {
    margin-top: 25px;
}
#footer-r {
    margin-top: 100px !important;
}

/* .maincontents .more{text-align:center; margin:20px 0 0;}
.maincontents .more a{ font-size:14px; padding:11px 53px; border:1px solid #cdcdcd; display: inline-block; border-radius: 6px;}*/

.maincontents .next-button {
    border: 1px solid #cdcdcd;
    border-radius: 6px;
    color: #8d8d8d;
    display: inline-block;
    text-align: center;
    margin: 20px 0 0;
    cursor: pointer;
    font-size: 14px;
    padding: 11px 53px;
}
.maincontents .next-button a {
    color: #8d8d8d;
    font-size: 14px;

}
.maincontents .next-button font {
    color: #ffa9a5;
    font-size: 14px;
}
.maincontents .next-button .custom-tn {
    font-weight: normal;
    color: #cdcdcd;
    font-size: 11px;
}

.maincontents .next-button span.mainicon {
    width: 26px;
    height: 23px;
    background-position: -592px -170px;
    position: relative;
    top: -1px;
}

#cate-main-slide-wrap {
    background: linear-gradient(#f5f3e4 ,#ffffff);
    width: 100%;

}
#cate-main-slide-wrap .top-wrap {
    width: 1340px;
    margin: 0 auto;
    padding-top: 30px;
}
#cate-main-slide-wrap .title {
    font-size: 38px;
    font-weight: 600;
    text-align: center;
}
#cate-main-slide-wrap .cate-list {
    margin: 26px auto 20px;
    text-align: center;

}
#cate-main-slide-wrap .cate-list li {
    display: inline-block;
    padding: 0 7px;
}
#cate-main-slide-wrap .navi {
    top: 21px;
}
#cate-main-slide-wrap .cate-list li * {
    font-size: 13px;

}
#cate-main-slide-wrap .cate-list li.on {
    font-weight: bold;
    text-decoration: underline;
}
#cate-main-slide-wrap .main-slide .slide-inner {
    padding: 5px;
    width: 600px;
    position: relative;
    float: left;
}
#cate-main-slide-wrap .main-slide .slide-inner img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
#cate-main-slide-wrap .main-slide .slide-detail {
    position: absolute;
    top: 30px;
    left: 40px;
}
#cate-main-slide-wrap .main-slide .slide-detail:after {
    clear: both;
}
#cate-main-slide-wrap .main-slide .slide-detail > div {
    float: left;
}
#cate-main-slide-wrap .main-slide .slide-detail p a {
    color: white;
    font-weight: 300;
    letter-spacing: 0.7px;
    font-size: 14px;
}
#cate-main-slide-wrap .main-slide .slide-detail p.name a {
    font-weight: bold;
    font-size: 16px;
}
#cate-main-slide-wrap .main-slide .slide-detail .info-wrap {
    padding: 9px 5px 5px 15px;
}
#cate-main-slide-wrap .text-wrap {
    position: absolute;
    bottom: 57px;
    left: 48px;
}
#cate-main-slide-wrap .text-wrap * {
    color: white;
    font-size: 14px;
}
#cate-main-slide-wrap .text-wrap ul:after {
    clear: both;
    content: "";
    display: block;
}
#cate-main-slide-wrap .text-wrap li {
    float: left;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 4px 12px;
    margin-right: 5px;
}
#cate-main-slide-wrap .text-wrap .memo {
    margin-top: 16px;
    font-size: 41px;
    line-height: 54px;
}

#cate-main-slide-wrap .navi {
    position: relative;
}
#cate-main-slide-wrap .alram {
    position: absolute;
    right: 0;
    top: -13px;

}
#cate-main-slide-wrap .main-slide .slide-inner > a {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 10px;
    overflow: hidden;
}
#cate-main-slide-wrap .main-slide .slide-inner.bgblack > a:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 5px;
    background: rgb(17,17,17);
    background: linear-gradient(180deg, rgb(0 0 0 / 22%) 0%, rgba(255,255,255,0) 20%, rgba(255,255,255,0) 80%, rgb(34 34 34 / 33%) 100%);
    top: 0;
}
#cate-main-slide-wrap .alram .mainicon {
    width: 55px;
    height: 55px;
    position: relative;
    cursor: pointer;
}
#cate-main-slide-wrap .alram > div {
    display: inline-block;
    margin-right: 8px;
}
#cate-main-slide-wrap .alram > div p {
    text-align: center;
    color: #969696;
}
#cate-main-slide-wrap .alram .bell {
    background-position: -399px -280px;
}
#cate-main-slide-wrap .alram .bell.on {
    background-position: -399px -341px;
}
#cate-main-slide-wrap .alram .star {
    background-position: -465px -280px;
}
#cate-main-slide-wrap .alram .star.on {
    background-position: -465px -341px;
}
#cate-main-slide-wrap .alram .mainicon > span {
    position: absolute;
    bottom: -18px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;

}
#cate-main-slide-wrap .slick-arrow {
    top: 340px;
    margin: 0;
    width: 14%;
    height: 100%;
    text-align: left;
    text-indent: -99999px;
    z-index: 999;
    cursor: pointer;
}
#cate-main-slide-wrap .slick-prev:before {
    left: 168px !important;
}
#cate-main-slide-wrap .slick-next:before {
    left: auto;
    right: 168px !important;
}
#cate-main-slide-wrap .slick-prev {
    position: absolute;
    left: 0;
    top: 0;
    border: none;
    background: none;
}
#cate-main-slide-wrap .slick-next {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    background: none;
}
#cate-main-slide-wrap .slick-prev.slick-arrow:before {
    content: '';
    position: absolute;
    top: 52.6%;
    margin: -40px 0 -86px;
    width: 33px;
    height: 45px;
    background: url("https://atimg.sonyunara.com/2019/asset/pc/img/common/btn/btn-control.png") no-repeat 0 0;
}
#cate-main-slide-wrap .slick-next.slick-arrow:before {
    content: '';
    position: absolute;
    top: 52.6%;
    margin: -40px 0 -86px;
    width: 33px;
    height: 45px;
    background: url("https://img.sonyunara.com/2019/asset/pc/img/common/btn/btn-control.png") no-repeat 0 0;
    background-position: -62px 0;
}

.favor-nav:after {
    clear: both;
    display: block;
    content: "";
}
.favor-nav .favor-btn {
    float: left;
}
.favor-nav .favor-goods {
    float: right;
}
.favor-nav .favor-btn ul {
    margin-top: 8px;
}
.favor-nav .favor-btn ul li {
    float: left;
    border: 1px solid #e4e4e4;
    border-radius: 30px;
    padding: 9px 26px;
    margin-right: 10px;
    font-size: 14px;
    top: -4px;

}
.favor-nav .favor-btn ul li .mainicon {
    margin-left: -31px;
}
.favor-nav .favor-btn ul:after {
    clear: both;
    content: "";
    display: block;
}
.favor-nav .favor-btn ul li.on {
    border-color: #ff9994;
    color: #ff9994;
}
.favor-nav .favor-btn ul li:first-child {
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 20px;
    margin-right: 20px;
    position: relative;
}
.favor-nav .favor-btn ul li:first-child:after {
    content: "";
    position: absolute;
    right: 0;
    top: 8px;
    width: 1px;
    height: 35px;
    background-color: #eeeeee;
}
.favor-btn-span {
    height: 50px;
    width: 50px;
    background-position: -170px -245px;
    display: block;
    background-size: 556px;
}
.favor-btn li.on .favor-btn-span {
    background-position: -224px -245px;
}
.favor-nav .favor-goods {
    height: 60px;
    border: 1px solid #f0f0f0;
    border-radius: 10px;
    min-width: 250px;
    padding: 0 20px;
    line-height: 60px;
    text-align: center;

}
.favor-nav .favor-goods a {
    font-size: 13px;
    font-weight: bold;
}
.favor-nav .favor-img {
    display: inline-block;
}
.favor-nav .favor-img img {
    vertical-align: middle;
    width: 36px;
    border-radius: 50%;
}

.cate-list-goods .cate-list {
    border-bottom: 2px solid #f2f2f2;
    padding: 40px 0;
    white-space: nowrap;
}
.cate-list-goods .cate-list > div {
    display: inline-block;
    margin-left: -3px;
    vertical-align: middle;
}
.cate-list-goods .cate-pic {
    width: 140px;
    border: 1px solid #e9e9e9;
    padding: 5px;
    border-radius: 50%;
    position: relative;
}
.cate-list-goods .cate-pic img {
    width: 100%;
    height: 128px;
    border-radius: 50%;
}
.cate-list-goods .cate-info {
    width: 124px;
    padding-left: 15px;
}
.cate-list-goods .cate-info p:nth-child(1) {
    color: black;
    font-weight: bold;
    font-size: 16px;

}
.cate-list-goods .cate-info p {
    color: #bdbdbd;
    font-size: 15px;
    white-space: normal;

}

.cate-list-goods .cate-goods ul {
    overflow: hidden;
}
.cate-list-goods .cate-goods ul:after {
    clear: both;
    content: "";
    display: block;

}
.cate-list-goods .cate-goods li {
    float: left;
    width: calc(1235px / 8);
    height: calc(1235px / 8 * 1.3);
    padding: 4px;

}
.cate-list-goods .cate-goods li img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cate-list-goods .cate-goods .morebtn {
    position: relative;

}
.cate-list-goods .cate-goods .morebtn a {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%,-50%);
    color: #747474;
    font-size: 14px;
    font-weight: bold;

}
.cate-list-goods .cate-goods .morebtn a:after {
    position: absolute;
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background-image: url("https://atimg.sonyunara.com/2021/renewal/main/main_icon_pc.png?a=6") !important;
    background-repeat: no-repeat;
    background-position: -335px -274px;
}
.cate-pic .favor-btn-span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -25px;
    display: block;
    height: 50px;
    width: 50px;
    background-size: 556px;
    background-position: -170px -293px;
}
.cate-pic .favor-btn-span.on {
    background-position: -225px -293px;
}

.selfbrand_section .self-brand-wrap {
    width: 1416px;
    margin: 70px auto 0;
}
.selfbrand_section .maintitle {
    padding: 55px 0 40px;
    font-size: 22px;
}
.selfbrand_section .self-brand-tab {
    width: 100%;
    text-align: right;
}
.selfbrand_section .self-brand-tab ul {
    display: inline-block;
}
.selfbrand_section .self-brand-tab ul:after {
    content: "";
    display: block;
    clear: both;
}
.selfbrand_section .self-brand-tab li {
    float: left;
    font-size: 14px;
    font-weight: bold;
    padding: 0 15px;
    color: #a7a7a7;
    cursor: pointer;
}
.selfbrand_section .self-brand-tab li.on {
    color: black;
}
.selfbrand_section .self-brand-content {
    width: 100%;
    padding-bottom: 60px;
    margin-top: 30px;
}
.selfbrand_section .self-brand-content:after {
    clear: both;
    content: "";
    display: block;
}
.selfbrand_section .self-brand-content > div {
    float: left;
}
.selfbrand_section .self-bgimg {
    width: 35%;
}
.selfbrand_section .self-bgimg img {
    width: 100%;
    max-width: 100%;
    border-radius: 20px 20px 20px 200px;
}
.selfbrand_section .self-goods-list {
    width: calc(65%);
    padding: 0 10px 0 95px;
    position: relative;
}
.selfbrand_section .prd_basic.col5 {
    width: 100%;
}
.selfbrand_section .prd_basic.col5 > li {
    width: calc(100% / 3 - 10px);
}
.selfbrand_section .prd_basic.slide .slick-next {
    top: 55%;
}
.selfbrand_section .prd_basic.slide .slick-prev {
    left: -630px;
    top: 55%;
}
.selfbrand-progress {
    display: block;
    width: 100%;
    height: 15px;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #e6dcd8;
    background-color: #e6dcd8;
    background-image: linear-gradient(to right, #f5eae6, #f5eae6);
    background-repeat: no-repeat;
    background-size: 0 100%;
    transition: background-size 0.4s ease-in-out;
    margin-top: 76px;
}
.selfbrand_section .selfbrand-prev {
    font-size: 0;
    border: red;
    background-color: transparent;
    background: url("https://atimg.sonyunara.com/2021/renewal/main/main_icon_pc.png?a=1");
    background-position: -405px -109px;
    width: 24px;
    height: 45px;
    position: absolute;
    top: 50%;
    left: 158px;
}
.selfbrand_section .selfbrand-next {
    font-size: 0;
    border: red;
    background-color: transparent;
    background: url("https://atimg.sonyunara.com/2021/renewal/main/main_icon_pc.png?a=1");
    background-position: -464px -108px;
    width: 24px;
    height: 45px;
    position: absolute;
    top: 50%;
    right: 158px;
}
.prd_basic .box .img .list-hover.renewal {
    border-radius: 10px;
}
.main-slide .slick-slide {
    filter:brightness(50%);
}
.main-slide .slick-active {
    filter:brightness(100%);
}
.main-slide .slick-current+.slick-active {
    filter:brightness(50%);
}

.prd_basic .box .img .list-hover.renewal .hover-box ul {
    display: block !important;
}
.prd_basic.view_list .box .price {
    margin: 0;
}
.prd_basic.view_list .box .name {
    -webkit-line-clamp: 1;
    height: 25px;
    padding-top: 0;
}
.prd_basic.col5.view_list {
    width: 1400px;
}
.prd_basic.col5.view_list .box .info .wishcart {
    bottom: 27px;
}
.tabcnt_detail .freedelivery .slick-arrow {
    position: absolute;
    font-size: 0;
    border: 0;
    outline: 0;
    cursor: pointer;
    background: url("https://atimg.sonyunara.com/2021/renewal/main/main_icon_pc.png?a=10");
    width: 27px;
    height: 27px;
    transform: none !important;
}
.tabcnt_detail .freedelivery .slick-arrow.slick-prev {
    right: 32px;
    left: auto;
    top: -32px;
    background-position: -532px -333px;
}
.tabcnt_detail .freedelivery .slick-arrow.slick-next {
    right: 0;
    top: -32px;
    background-position: -563px -333px;
}
.detail10-bottom-bordertop {
    height: 10px;
    background-color: #f6f6f6;
}
.tabcnt_detail .recommendgoods .prd_basic.col5 > li {
    display: inline-block;
    width: calc(50% - 10px);
    vertical-align: top;
    text-align: left;
    margin-left: 5px;
}
.tabcnt_detail .recommendgoods .prd_basic {
    font-size: 0;
    width: calc(100% + 10px);
    margin-left: -5px;
}
.tabcnt_detail .recommendgoods .time-goods-list {
    margin: 12px 5px; /*display: inline-block; width:calc(50% - 10px); */
    font-size: 0;
    background-color: #FAFAFA;
    padding: 20px 29px;
    border-radius: 10px;
    position: relative;
}
.tabcnt_detail .recommendgoods .time-goods-list .prdimg {
    width: 24%;
    border-radius: 7px;
    overflow: hidden;
    display: inline-block;
}
.tabcnt_detail .recommendgoods .time-goods-list .prdimg img {
    width: 107%;
    height: 171px;
    object-fit: cover;
    position: relative;
    right: 4%;
}
.tabcnt_detail .recommendgoods .time-goods-list .info {
    width: 55%;
    padding: 5px 0 0 20px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}
.tabcnt_detail .recommendgoods .time-goods-list .price span {
    font-size: 21px;
    font-weight: 500;
}
.tabcnt_detail .recommendgoods .time-goods-list .name {
    margin-top: 3px;
}
.tabcnt_detail .recommendgoods .time-goods-list .aname {
    margin-top: 3px;
}
.tabcnt_detail .recommendgoods .time-goods-list .aname a {
    color: #9f9f9f;
}
.tabcnt_detail .recommendgoods .time-goods-list .name a {
    font-size: 14px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    height: 44px;
    margin-bottom: 32px;
}
.tabcnt_detail .recommendgoods .time-goods-list .cnts {
    margin-top: -2px;
}
.tabcnt_detail .recommendgoods .time-goods-list .cnts span {
    color: #9f9f9f;
}
.tabcnt_detail .recommendgoods .time-goods-list .btns {
    width: 30%;
    display: inline-block;
}
.tabcnt_detail .recommendgoods .time-goods-list .btns span {
    display: inline-block;
}
.tabcnt_detail .recommendgoods .time-goods-list .btns .saletype {
    position: absolute;
    top: 24px;
    right: 21px;
    padding: 7px 12px;
    color: #B5CFB2;
    border: 1px solid #B5CFB2;
    border-radius: 5px;
    font-weight: bold;
}
.tabcnt_detail .recommendgoods .time-goods-list .btns .saletype.off {
    color: #9f9f9f;
    border-color: #9f9f9f;
}
.tabcnt_detail .recommendgoods .time-goods-list .btns .cartbtn {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.tabcnt_detail .recommendgoods .time-goods-list .btns .cartbtn img {
    max-width: 36px;
    width: 36px;
    margin: 0 13px 14px 6px;
}
.prd_basic.slide.inner-slide .slick-arrow {
    width: 27px;
    height: 27px;
}
.prd_basic.slide.inner-slide .slick-prev {
    right: 32px;
    left: auto;
    top: auto;
    bottom: -53px;
    background-position: -532px -333px;
}
.prd_basic.slide.inner-slide .slick-next {
    right: 0;
    top: auto;
    bottom: -53px;
    background-position: -563px -333px;
}
.slick-arrow[aria-disabled="true"] {
    display: none !important;
}
#coordi_layer .opt_layer .box_qty {
    height: auto;
    margin-top: 5px;
}
#coordi_layer .opt_layer .box_qty a {
    height: 25px;
    border: 0;
}
#coordi_layer .prd_basic.coordi .box .info .opt .opt_layer .box_qty .form_input {
    height: 25px;
    width: calc(85% - 70px) !important;
    padding: 0;
}
.box_qty .ea_down_new span:before {
    background-image: url("/asset/img/shop/ea_down2.png");
}
.box_qty .ea_up_new span:before {
    background-image: url("/asset/img/shop/ea_up2.png");
}
#big_section .best_area {
    background: #f5f3e4;
}
.prd_basic .box .best_icon {
    position: absolute;
    top: 0;
    z-index: 1;
    right: 8px;
}
.prd_basic .box .best_icon img {
    width: 30px;
    height: auto;
}
.slick-slider.toparrow .slick-arrow {
    position: absolute;
    font-size: 0;
    border: 0;
    outline: 0;
    cursor: pointer;
    background: url("https://atimg.sonyunara.com/2021/renewal/main/main_icon_pc.png?a=10");
    width: 27px;
    height: 27px;
    transform: none !important;
}
.slick-slider.toparrow .slick-arrow.slick-next {
    right: 5px;
    top: 10px;
    background-position: -563px -333px;
}
.slick-slider.toparrow .slick-arrow.slick-prev {
    right: 37px;
    left: auto;
    top: 10px;
    background-position: -532px -333px;
}

/* 肄붾뵒 源��ъ씡 20220121*/
.goods-codi-form .list-icon-box {
    position: absolute;
    bottom: 5px;
    left: 5px;
}
.prd_basic.col4 .goods-codi-form .box .img .prdimg .list-icon-box img {
    width: auto;
    height: 21px;
    margin-right: 5px;
}
.prd_basic .goods-codi-form .box .img .prdimg {
    overflow: hidden;
}
.prd_basic.col4 .goods-codi-form .box .img .prdimg img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.prd_basic .goods-codi-form .box .price .percent {
    font-size: 15px;
}
.prd_basic .goods-codi-form .box .name {
    height: 24px;
    -webkit-line-clamp: 1;
}

/* 而щ윭移� 20220208 */
.colorchip {
    overflow: hidden;
    position: relative;
}
.colorCode {
    margin-bottom: 5px;
}
.colorCode:nth-child(n+6) {
    display: inline-block;
}
.colorCode.moreColor {
    display: none;
}
.colorCode.onoffbtn.mainicon {
    width: 17px;
    height: 9px;
    background-position: -15.7px -193.8px;
}
.colorchipbox .colorCode.onoffbtn.mainicon {
    background-position: -15.7px -178.8px !important;
}
.colorchipbox {
    position: absolute;
    top: -8px;
    left: -8px;
    background-color: #fff;
    width: calc(100% + 8px);
    height: 40px;
    padding: 8px 0 8px 8px;
    border-radius: 7px;
    box-shadow: 0 0 6px 0 #cbcbcb;
}